*{
    margin: 0;
    padding: 0;
   font-family: 'Times New Roman', Times, serif;
}
h6 + p::first-letter{
    font-size: 4em;
    color: red;
    font-weight: 1000;
    float: left;
    padding-right: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-style: normal;
    line-height: 0.7;
}
h6{
    font-size: 48px;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(2, 2, 5, 0.3),rgba(1, 2, 3, 0.3)), url(images/1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 100px;
    border-radius: 50%;
}
nav img photo{
    width:100px;
    border-radius: 20%;
}
nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f3f70bf6;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 35%;
    position: absolute;
    top: 65%;
    left: 22%;
    transform: translate(-45%, -40%);
}
.text-box h1{
    color: white;
    font-size: 38px;
}
.text-box p{
    color: white;
    font-size: 30px;
}
nav .fa{
    display: none;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 37px;
    }
    .text-box p{
        font-size: 27px;
    }
    .nav-links ul li{
        display: block;
    }
    nav img{
        width: 70%;
    }
    .nav-links{
        position: fixed;
        background: rgb(3, 133, 122);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;

    }
}
/* <!-------products collection--> */
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
p{
    color: black;
    font-size: 22px;
    text-align: justify;
    padding: 12px 17px ;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    box-sizing: border-box;
}
h3{
    font-size: 25px;
    text-align: center;
    font-weight: 700;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0,0.2);
}
@media (max-width: 700px){
    .row{
        flex-direction: column;
    }
}
<!--------words------>
.words{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.words-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.course-col img{
    height: 70px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.words-col h3{
    margin-top: 0;
    text-align: center;
}
.words-col p{
    padding: 0;
}
.footer{
    overflow: hidden;
    padding: 15px;
    padding-left: 40px;
    background-color: #fff3f3;
    text-align: center;
    color: black
    font-size: larger;
}

/* <!-----------------about us page----------> */
.header-us{
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(1,1,1,-0.3),rgba(1,1,1,0.7)), url(images/agrofarm.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
/* <!-----------------about us page----------> */
.cont-us{
    min-height: 90vh;
    width: 100%;
    background-image: linear-gradient(rgba(1,1,1,-0.3),rgba(1,1,1,0.7)), url(images/agrofarm.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.about-us{
    min-height: 90vh;
    width: 100%;
    background-image: linear-gradient(rgba(1,1,1,0.3),rgba(1,1,1,0.3)), url(images/about\ us\ 1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.product-us{
    min-height: 90vh;
    width: 100%;
    background-image: linear-gradient(rgba(1,1,1,0.3),rgba(1,1,1,0.3)), url(images/lemon3.jfif);
    background-position: center;
    background-size: cover;
    position: relative;
}
/* -----------------contact us page---------- */
.location{
    width: 80%;
    margin: auto;
    padding: 10px 0;
}
.location iframe{
    width: 100%;
}
.contact-us{
    width: 80%;
    margin: auto;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fa{
    font-size: 28px;
    color: #10e009;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 400;
}
.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #10e009;
    box-sizing: border-box;
}
.contact-col button{
    margin-left: 35%;
    font-size: 18px;
    width: 36%;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #10e009;
    box-sizing: border-box;
}
.contact-col button:hover{
    color: red;
    background-color: greenyellow;
}

/* <!-------------------time------------------> */
.containttime {
    font-size: 24px;
    margin-left: 63px;
    margin-top: -27px;
}
.containttime h8{
    padding-left:10px;
}